footer
	text-align: $centro
	padding: 0
	font-family: $museoq
	margin-top: 50px

	.text-left
		margin-top: -85px

	.contactenos
		background-image: url("../images/general/bg_contacto.png")
		background-repeat: no-repeat
		background-size: 100%
		width: 400px
		height: 160px
		float: right 
		margin-top: -150px
		padding: 45px 50px 10px 10px
		text-align: right
		.titulocontact
			color: $amarillo
		.textocontact
			color: $blanco
			a 
				color: $blanco
			span 
				color: $naranja
				text-transform: uppercase
	.footerdivdos
		padding: 10px
		margin-top: 10px
	p 
		font-size: 12px

	ul.redes-sociales
		li 
			display: inline-block
			padding: 0 10px
			img 
				width: 40px