@media (min-width: 1600px)
	.slider
		.carousel-internas
			top: 60%


@media (min-width: $xlg)
	.slider
		.carousel-internas
			top: 50rem

@media (max-width: $xlg)
	.menu-principal
		ul
			li
				font-size: $textoxs

	section.section-header-internas
		padding-top: 15rem
	
	// .slider
	// 	.carousel-internas
	// 		top: 50rem

@media (max-width: 1280px)
	.slider
		.carruinterna .fill,
		.carousel-inner .fill
			height: 100%
		
		
		.carruhome
			.fill
				height: 100vh
	
	.page-node-18
		section.internas-general
			.slider
				.carruinterna .fill,
				.carousel-inner .fill
					height: 47rem


@media (max-width: 1060px)
	.reservas
		.caja-reserva-internas
			width: 83%

			h2
				font-size: 1.4rem
				width: 13%

	.slider
		.carousel-internas
			top: 27rem



@media (max-width: 960px)
	section.section-opiniones-internas
		padding-top: 16rem
	.row-form-opinion
		.text-center
			max-width: 46.8%
	.row-opiniones
		margin-top: -2.5rem
		padding-top: 6rem

@media (max-width: 900px)
	.menu-principal
		ul.nav
			li
				&::after
					content: none

	.slider
		.carousel-internas
			top: 25%

@media (max-width: $sm)

	section.section-home-dos
		h2
			font-size: 3rem
		
		p
			font-size: 1.7rem
	.reservas
		.telefono-reserva-home
			display: none
	.menu-responsive
		display: block
	#dl-menu
		display: block
	.menu-principal
		display: none
	.reservas .caja-reserva-internas
		display: none
	.carousel-caption
		display: none
	// .slider
	// 	.carruinterna
	// 		.fill
	// 			height: auto
	.slider-general
		.carousel-control
			top: 20%

	section.section-opiniones-internas,
	section.section-header-internas
		padding-top: 0
	
	

	section.section-opiniones-internas
		.images-cien img
			margin-top: 1rem


	.row-form-opinion,
	.row-opiniones
			.text-center
				max-width: 90%
	footer 
		.contactenos
			margin-bottom: 5rem
			margin-top: 1rem

		.text-left
			margin-top: 0

			img
				display: block
				margin: 0 auto

		.footerdivdos
			margin-top: 0

// @media (max-width: $md)
	section.resto_de_btns
		.col-md-2
		.col-md-3
			img
				width: 100%


		.col-sm-offset-1
			margin-left: 0
	section.section-reservas-internas .menu-reservas li, section.section-reservas-internas .menu-reservas, section.section-reservas-internas .menu-reservas li:last-child
		background-image: none
	section.section-reservas-internas .caja-reserva-interna .cincuenta-porciento
		width: 100%
	.slider .caja-reserva-home
		width: 80%
		left: 10%
	.carousel-dos
		display: none
	section article .bg-internas-tamano
		height: auto
		min-height: 50vh
	section.section-home-dos h2, section article .parrafo-amarillo h2, section article .parrafo-amarillo h4
		font-size: $textomd
	section.section-header-internas h3
		margin: 15% 0 0
	body .no-padding-top
		padding-top: 50px !important
	.slider-general
		.carousel-control
			top: 5%


@media (max-width: 720px)
	body
		.img-planes-internas
			img
				display: block
				margin: 20px auto	
				max-width: 100%


	section.section-header-internas
		h1, h3
			margin: 0 auto
			font-size: 3rem
	
	.slider .texto-general-slide
		p
			font-size: 1.6rem

			span
				font-size: 1.8rem



@media (max-width: 540px)

	header.container-fluid
		&.affix
			.logo-responsive
				transform: translateX(0rem)

	footer 
		.contactenos
			background-color: #0b2c3f
			background-size: 80%
			margin-bottom: 5rem
			margin-top: 6px
			padding: 45px 50px 10px 84px
			width: 100%
	
	.container
		&-error
			.btn-home
				font-size: 1.6rem
			.title-error
				font-size: 2.2rem
			.text-error
				font-size: 1.4rem
	.dl-menuwrapper
		width: 96%
	section 
		.nav-tabs
			li.tabhome
				width: 100%
				text-align: center


@media (max-width: 540px)
	header.container-fluid
		&.affix
			.logo-responsive
				padding: 0
				width: 120px


@media (max-width: 400px)
	.fechasS
		left: 14%

	.fechasL
		left: 27%
