@font-face {
    font-family: 'museo_sans500';
    src: url('../fuentes/museosans-500-webfont.woff2') format('woff2'),
         url('../fuentes/museosans-500-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'museo_sans_cyrl300';
    src: url('../fuentes/museosanscyrl_0-webfont.woff2') format('woff2'),
         url('../fuentes/museosanscyrl_0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}