
/* MASCARA DESKTOP */

/*.contenedor-mascara {
	display: block;
    position: absolute;
    right: 300px;
    z-index: 2;
    top: 130px;
}*/
/* Quitar la vieja */


#ui-datepicker-div{
	width: auto !important; 
}
.motor_reserva{
	display: none !important;
}
.contenedor-mascara{ 
	display: block;
    left: 20%;
    position: absolute;
    top: 180px;
    transition:all ease-in-out 0.3s;
    -webkit-transition:all ease-in-out 0.3s;
    -moz-transition:all ease-in-out 0.3s;
    -ms-transition:all ease-in-out 0.3s;
    -o-transition:all ease-in-out 0.3s;
    z-index: 2;
}
.clear{
	clear:both;
}
form {
	margin:0;
}
.cont-Mreservar {
	background: #f1b550;
	padding-bottom: 11px;
	width: 278px;
}
.tipo-reserva{
	background: #003240;
	width: 100%;
}

.cont-selecion-reserva {
	height: 40px;
	width: 100%;
}
.text-Hotel{
	color: #ffffff;
	padding: 10px 20px;
	text-align: center;
}
/* BOTONES */


/*DETALLES RESERVA*/

.detalles-reserva {
	margin: 17px 11px 0 ; 
}

.cont-select-hotel{
	width: 100%;
}
 .conte-btn-consultar {
	width: 90%;
}
.select-reservas {
	background: #ececec; 
	border: 1px solid #adadad;
	color: #666666;
	font-family: 'NexaL', Fallback, sans-serif;
	font-size: 1.5rem !important;
	height: 37px;
	margin-bottom: 3px;
	padding: 3px;
	width: 100%;
	margin-top: 4px;
}
a.link-ciudad {
	font-family: 'NexaL', Fallback, sans-serif;
	font-size: 0.8rem;
	color: #588cad;
	float: right;
	text-decoration: none;
}
a.link-ciudad:hover {
	color: #588cad;
	font-style: normal;
}

/*FECHAS*/

.conte-fechas {
	margin-top: 10px;
	width: 100%;
}
.conte-fechas label, .cont-fechas label{
	display: block;
	min-width: 100px;
	color: #ffffff;
}
.calendario-llegada, .calendario-salida{
	float: left;
	margin-bottom: 15px;
	width: 96px;
}
.calendario-llegada {
	margin-left: 8px;
}
.cont-icono-calendar {
	float: left;
	height: 44px;
	margin-top: 70px !important;
	width: 44px;
}
label.titulo-fechas{
	color: #666666;
	font-family: 'NexaL', Fallback, sans-serif;
	font-size: 0.8rem;

}
input.fechas-selecionadas{
	background: #ececec; 
	border: 1px solid #adadad;
	height: 67px;
	margin-top: 30px;
	width: 66px;
}
.cont-fechas{
 	text-align: center;
}
.fechasL{
	height: 49px;
    cursor: pointer;
    left: 19px;
    margin-top: 15px;
    pointer-events:none;
    position: absolute;
    text-align: center;
    top: 141px;
    width: 66px;
}
.fechasS{
	
	height: 49px;
    cursor: pointer;
    left: 174px;
    margin-top: 15px;
    pointer-events:none;
    position: absolute;
    text-align: center;
    top: 140px;
    width: 66px;
}
.dia{
	    margin: 0 0 6px;
    width: 100%;
    color: #063162;
    font-family: 'NexaB', Fallback, sans-serif;
    font-size: 2.5rem;
    line-height: 1.4rem
}
.mes , .year {
	color: #063162;
	font-family: 'NexaL', Fallback, sans-serif;
	font-size:0.9rem;
}
.comiseo-daterangepicker-buttonpanel>button:first-child{
	display: none !important;
}
/*VIAJEROS*/

.cont-adultos, .cont-ninos{
	float: left;
	width: 43%;
    margin-left: 6%;
}
.cont-ninos{
	margin-left: 10px;
}

/*CODIGOS*/

.codigos-descuento {
	margin-top: 8px;
	display: none !important;
}
button.btn-codigos{
	background: #063162;
	border: none;
	color: #FFFFFF;
	cursor:pointer;
	font-family: 'NexaL', Fallback, sans-serif;
	font-size:0.9rem;
	padding: 6px 0;
	text-transform: uppercase;
	width:100%;

}
.conte-codigos {
	margin-top: 3px;
}
label.titulos-codigo {
 	color: #666666;
 	font-family: 'NexaL', Fallback, sans-serif;
 	font-size: 0.6rem;
}
/*BOTON FINAL*/

.conte-btn-consultar{
	margin: 5%;
}

a.btn-consultar{
	text-align: center!important;
	padding: 15px !important;
	background: #003240;
	/*/background: -webkit-linear-gradient(#e0941a 1%, #e0941a 50%, #d88112 50%, #d88112 100%);
	//background: -o-linear-gradient(#e0941a 1%, #e0941a 50%, #d88112 50%, #d88112 100%);
	//background: linear-gradient(#e0941a 1%, #e0941a 50%, #d88112 50%, #d88112 100%);*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0941a', endColorstr='#5fc5b6',GradientType=0 );
	color: #FFFFFF;
	font-size:0.9rem;
	text-transform: uppercase;
	cursor: pointer;
	font-family: 'NexaL', Fallback, sans-serif;
	padding: 6px 33.5%;
	border: none;
	width: 100%;
}
a.btn-consultar:hover, a.btn-consultar:active, a.btn-consultar:focus{
	background: #5fc5b6;
	/*background: -moz-linear-gradient(top,  #d88112 0%, #d88112 50%, #e0941a 50%, #e0941a 100%, #e0941a 100%);
	background: -webkit-linear-gradient(top,  #d88112 0%,#d88112 50%,#e0941a 50%,#e0941a 100%,#e0941a 100%);
	background: linear-gradient(to bottom,  #d88112 0%,#d88112 50%,#e0941a 50%,#e0941a 100%,#e0941a 100%);*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d88112', endColorstr='#5fc5b6',GradientType=0 );

}

/* MASCARA DESKTOP UP */ 
.contenedor-mascara-Up{
	display: none;
	    margin-left: 135px;
    margin-right: auto;
    z-index: 100;
    position: fixed;
}
.cont-Mreservar-Up {
	background: #FFFFFF;
	width: 950px;
	    height: 69px;
}
.cont-selecion-reserva-Up {
	float: left;
	width: 115px;
}
.tipo-reservaUp{
	width: 100%;
}
.tipo-reservaUp .btn-Hotel, .tipo-reservaUp .btn-HotelV  {
	height: 33px;
}
.tipo-reservaUp .btn-Hotel .text-Hotel, .tipo-reservaUp .btn-HotelV .text-HotelII  {
	margin: 1px 19px 0;
}
.tipo-reservaUp .btn-Hotel .text-Hotel p, .tipo-reservaUp .btn-HotelV .text-HotelII p {
	font-size: 16px;
	line-height:16px;
}
.detalles-reserva-Up {
    float: left;
    padding: 0 10px;
    width: 85%;
}
.cont-select-hotel-Up {
	border-right:1px solid #666666;
	float:left;
	height:35px;
	margin-top: 17px;
	padding-right: 10px;
	width: 104px;
}
.fecha-ini-sup{
	display: block !important;
	}
/* Selector */ 
.cont-select-hotel-Up > div.chosen-container > div.chosen-drop{
	    width: 250px;
}
.conte-fechas-Up {
    float: left;
    height: 35px;
    margin-top: 2px;
    padding: 0 4px;
    width: 221px;
}
.conte-fechas-Up input.fechas-selecionadas {
	width: 89%;
	height: 25px;
	font-family: 'NexaL', Fallback, sans-serif;
	font-size: 0.9rem;
	color: #588cad;
	padding: 2px;
}
.conte-fechas-Up .calendario-llegada, .conte-fechas-Up .calendario-salida {
    float: left;
    margin:0;
    width: 98px;
}
.conte-fechas-Up .titulo-fechas{
	font-size:0.7rem;
} 
.conte-fechas-Up .cont-icono-calendar {
	margin-top: 70px !important;
}
.tipo-viajeros-Up {
	border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    float: left;
    height: 35px;
    margin-top: 17px;
    padding: 0 6px;
    width: 22%;
}
.tipo-viajeros-Up .cont-adultos, .tipo-viajeros-Up .cont-ninos{
	width: 46%;
}
.codigos-descuento-Up .conte-codigos {
	-webkit-box-shadow: 4px 10px 32px 0px rgba(0,0,0,0.27);
	-moz-box-shadow: 4px 10px 32px 0px rgba(0,0,0,0.27);
	box-shadow: 4px 10px 32px 0px rgba(0,0,0,0.27);
	background: #ffffff none repeat scroll 0 0;
    padding: 10px;
    position: absolute;
    top: 60px;
    width: 275px;
}
.codigos-descuento-Up , .conte-btn-consultar-Up {
    float: left;
    margin-left: 8px;
    margin-top: 0px;
    width: 15%;
    padding-top: 20px;
}
.input-desc{
	width: 98%;

}
.codigos-descuento-Up .btn-codigos, .conte-btn-consultar-Up .btn-consultar {
    font-size: 0.5rem;
    margin-top: 20px;
    padding: 4px 0;
}
.conte-btn-consultar-Up{
	    padding-top: 26px;
}
.conte-btn-consultar-Up > a.btn-consultar{
	    padding: 9.3% 33.5%;	
}

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}
.ui-datepicker {
    display: none;
    padding: 0px;
    cursor: default;
 
    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 12px;
 
    background: #f1b550;
}
.ui-datepicker-group{
	width: 50%;
	display: inline-block;

}
.ui-datepicker-group-first {
    margin-right: 1%;
    width: 49%;
}
.ui-datepicker-header {
    position: relative;
    padding-bottom: 0px;
    border-bottom: 5px solid #5fc5b6;
}
 
.ui-datepicker-title {
	color: #f1b550;
	background: #003240;
	padding: 10px;
	text-align: center; }
 
.ui-datepicker-month {
    position: relative;
    padding-right: 15px;
    color: #f1b550;
}
 
.ui-datepicker-year {
    padding-left: 8px;
    color: #a8a8a8;
}
.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';
 
    background: #a5cd4e;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 5px;
    cursor: pointer;
}
 
.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}
 
.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}
 
.ui-datepicker-prev span,
.ui-datepicker-next span{
    display: block;
    width: 17px;
    height: 27px;
    text-indent: -9999px;
 
    background-image: url(../images/arrows.png);
    background-repeat: no-repeat;
    background-size: 185%
}
 
.ui-datepicker-prev span { background-position: 0px 0px; }
 
.ui-datepicker-next span { background-position: -15px 0px; }
 
.ui-datepicker-prev-hover span { background-position: 0px; }
 
.ui-datepicker-next-hover span { background-position: -15px 0; }
.ui-datepicker-calendar th {
    padding-top: 15px;
    padding-bottom: 10px;
 
    text-align: center;
    font-weight: normal;
    color: #901631;
}
.ui-datepicker-calendar td {
    padding: 0 7px;
 
    text-align: center;
    line-height: 26px;
}
 
.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 26px;
    outline: none;
 
    text-decoration: none;
 
    border: 1px solid transparent;
}
.ui-datepicker-calendar .ui-state-active {
    color: #ffffff;
    border: 1px solid #ffffff;
}
 
.ui-datepicker-other-month .ui-state-default { color: #565656; }

@media (min-width:200px) and (max-width:767px){.motor_reserva_config{display:none;visivility:hidden;}
}

@media (max-width:1633px){
	.contenedor-mascara {
		left: 5%;
	}
}
@media (max-width:1440px){
	.contenedor-mascara {
		left: 15%;
	}
}
@media (max-width:1280px){
	.contenedor-mascara {
		left: 10%;
	}
}

.ui-datepicker-prev span, .ui-datepicker-next span {
    display: block;
    width: 17px;
    height: 27px;
    text-indent: -9999px;
    background-image: url(/sites/all/themes/guaya_theme/css/images/arrows.png)!important;
    background-repeat: no-repeat;
    background-size: 185%;
}

@media (max-width:768px){
	#ui-datepicker-div{
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
		left:0 !important;
		width:100% !important;
	}
	.contenedor-mascara {
		bottom:0;
		height: 100%;
		left: 0%;
		max-height: 4rem;
		overflow: hidden;
		position: fixed;
		top:initial;
		width: 100%;
		z-index: 150;
	}

	.contenedor-mascara.active{
		box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.5);
		max-height: 35rem;
		overflow: visible;
	}

	.contenedor-mascara.active .text-Hotel::after{
		opacity: 0.99;
	}
	.cont-Mreservar{
		height: 100%;
		width: 100%;
	}
	.cont-fechas,
	.conte-fechas{
		position: relative;
	}

	.cont-fechas br{
		display: none;
	}

	.calendario-llegada,
	.calendario-salida{
		position: relative;
		text-align: center;
		width: 45%;
	}

	.cont-icono-calendar{
		width: 5%;
	}
	.cont-icono-calendar img{
		display: block;
		margin:0 auto;
	}
		

	.fechasL{
		left: 19%;
		top: 4.8rem;
	}
	.fechasS{
		left: 39%;
		top: 4.8rem;
		
	}
	.text-Hotel{
		cursor: pointer;
		font-size: 1.8rem;
		position: relative;
	}

	.text-Hotel::after{
		content:'x';
		display: block;
		opacity: 0;
		position: absolute;
		right:1rem;
		top:50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transition:all ease-in-out 0.3s;
		-webkit-transition:all ease-in-out 0.3s;
		-moz-transition:all ease-in-out 0.3s;
		-ms-transition:all ease-in-out 0.3s;
		-o-transition:all ease-in-out 0.3s;
	}

	.tipo-viajeros{
		clear:both;
	}
	a.btn-consultar{
		display: block;
		font-size: 2rem;
		margin:1rem auto;
		max-width: 30rem;
	}

}

@media (max-width:540px){
	.fechasL{
		left: 17%;
		top:5.8rem;
	}
	.fechasS{
		left: 37%;
		top:5.8rem;
		
	}

	.ui-datepicker-calendar td{
		line-height: 20px;
	}
			
	.ui-datepicker-calendar	.ui-state-default{
		font-size: 1rem;
		width: 16px;
	}
}


@media (max-width:400px){

	.ui-datepicker-calendar td{
		padding:0 5px;
	}

	.fechasL{
		left: 15%;
	}
	.fechasS{
		left: 31%;
		
	}

}

@media (max-width:350px){

	.ui-datepicker-calendar td{
		padding:0 3px;
	}

	.fechasL{
		left: 14%;
	}
	.fechasS{
		left: 26%;
		
	}

}
